@import '../variables.scss';

.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #fff;
    z-index: 2;
    div:not(:last-child) {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 20px 80px;
        div {
            font-size: 16px;
            color: $light-primary-text-color;
            font-weight: 300;
        }
        div:not(:last-child) {
            display: block;
        }
        div:not(:first-child) {
            margin-left: 60px;
        }
    }
}