@import './variables.scss';

.topSection {
    margin-top: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light-primary-text-color;
    padding: 0 20px;
}

.introSection {
    margin-top: 15px;
    div:first-child {
        font-size: 16px;
        font-weight: 600;
    }
    div:nth-child(2) {
        margin-top: 8px;
        font-size: 50px;
        font-weight: 800;
        color: $primary-color;
        line-height: 40px;
    }
    div:last-child {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 200;
        text-align: left;
        line-height: 28px;
        letter-spacing: 1.1px;
    }
}

.imageSection {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.image {
    border-radius: 50%;
}

.buttonSection {
    width: 160px;
    margin: 0 auto;
    margin-top: 15px;
}

.button {
    padding: 12px 8px !important;
}

.projectsSubHeader {
    font-size: 18px !important;
    font-weight: 200 !important;
}

@media screen and (min-width: 1024px) {
    .topSection {
        margin-top: 100px;
        flex-direction: row;
        padding: 0;
    }

    .introSection {
        margin-top: 0;
        margin-left: 100px;
        width: 620px;
        div:first-child {
            font-size: 20px;
        }
        div:nth-child(2) {
            margin-top: 10px;
            font-size: 100px;
            line-height: 90px;
        }
        div:last-child {
            margin-top: 20px;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 1.2px;
        }
    }

    .imageSection {
        width: 250px;
        height: 250px;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    }

    .buttonSection {
        width: 200px;
        margin-top: 0;
    }

    .button {
        padding: 18px 12px !important;
    }

    .projectsSubHeader {
        font-size: 20px !important;
    }
}
